@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    background-color: #222;
    color: white;
    background-color: #222222;
    background-image: url("https://www.transparenttextures.com/patterns/my-little-plaid-dark.png");
}

header {
    background-color: red;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    background: rgba(0,0,0,0);
}

main {
    background: rgba(0,0,0,0);
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

#img-div {
    background: rgba(0,0,0,0.5);
    border-style: outset;
    border-color: #D4AF37;
    margin-bottom: 2%;
    text-align: center;
    padding-top: 4%;
}





#img-caption{
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}

#image{
    max-width:95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#skins{
    background-color:  rgba(0,0,0,0.5);
    border-style: outset;
    border-color: #D4AF37;
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

#small-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 95%;
    height: auto;
    transition: 1s;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
}

#small-image:hover{
    filter: grayscale(80%);
    transform: scale(1.03);
}

#tribute-info {
    background: rgba(0,0,0,0);
}

#characteristics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
}

#list-strengths  {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding-top: 2%;
    border-style: outset;
    border-color: #D4AF37;
}
#list-weaknesses {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding-top: 2%;
    border-style: outset;
    border-color: #D4AF37;
}
ul {
    text-align: left;
}
#subtitle {
    display: inline-block;
}

footer {
    display: grid;
    background: rgba(0,0,0,0);
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    
}

footer p {
    display: inline-block;
}

@media only screen and (max-width:600px){

    body{
        grid-template-rows: 1fr 16fr 1fr;
    }

    #skins {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #characteristics {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2%;
    }
}